.container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}
.profile{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    
}
